<a href="https://colab.research.google.com/github/Sujitharasamsetty/Machine-Learning-/blob/main/Naive%20Bayes/Naive_Baye's.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [85]:
import pandas as pd
df=pd.read_csv("titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

**Independent Variables**

In [86]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

**Dependent Variables**

In [87]:
inputs = df.drop('Survived',axis='columns')
target = df.Survived

**Dummies**

In [88]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [89]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

In [90]:
inputs.drop(['Sex','male'],axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1

In [91]:
inputs.columns[inputs.isna().any()]
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [92]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1
3       1  35.0  53.1000       1
4       3  35.0   8.0500       0

In [93]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)

In [94]:
len(X_train)

623

In [95]:
len(X_test)

268

In [96]:
len(y_train)

623

In [97]:
len(y_test)

268

In [98]:
len(inputs)

891

In [99]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [100]:
model.fit(X_train,y_train)

GaussianNB()

In [101]:
model.score(X_test,y_test)

0.8059701492537313

In [102]:
X_test[:10]

     Pclass        Age      Fare  female
536       1  45.000000   26.5500       0
694       1  60.000000   26.5500       0
512       1  36.000000   26.2875       0
488       3  30.000000    8.0500       0
255       3  29.000000   15.2458       1
212       3  22.000000    7.2500       0
636       3  32.000000    7.9250       0
537       1  30.000000  106.4250       1
573       3  29.699118    7.7500       1
541       3   9.000000   31.2750       1

In [103]:
y_test[:10]

536    0
694    0
512    1
488    0
255    1
212    0
636    0
537    1
573    1
541    0
Name: Survived, dtype: int64

In [105]:
model.predict(X_test[:10])
model.predict_proba(X_test[:10])

array([[0.73548431, 0.26451569],
       [0.71086772, 0.28913228],
       [0.73312675, 0.26687325],
       [0.95551626, 0.04448374],
       [0.42107167, 0.57892833],
       [0.95057123, 0.04942877],
       [0.95628341, 0.04371659],
       [0.00534404, 0.99465596],
       [0.42014864, 0.57985136],
       [0.30951654, 0.69048346]])

In [106]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, y_train, cv=5)

array([0.792     , 0.688     , 0.728     , 0.86290323, 0.75806452])